<!DOCTYPE html>
<html>
<head>
<title>Arredondamento com imagens</title>
	<meta charset="utf-8"></script>

	<!-- estilo customizado</h2>-->
	<link rel="stylesheet" type="text/css" href="css/estiloA.css">
</head>
<body>

  <div class="caixa">
	   <h2> Cabeçalho</h2>
	   <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. </p>
	   <p>Lorem Ipsum é simplesmente uma simulação de texto da de tipos.</p>	   	   	  
	   <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI. </p>	

	   <div class="ultimo"></div>   
  </div>


</body>

</html>