<!DOCTYPE html>
<html>
<head>
<title>Layouts</title>
	<meta charset="utf-8"></script>

	<!-- estilo customizado</h2>-->
	<link rel="stylesheet" type="text/css" href="css/estiloT.css">
</head>
<body>

   <h2>Estilizando tabelas</h2>
   <table>
		<tr>
			<th>Codigo</th>
			<th>Produto</th>
			<th class="numero">Preço</th>
		</tr>

		<tr>
			<td>001</td>
			<td>Notebook</td>
			<td class="numero">R$ 2.500</td>
		</tr>
		<tr>
			<td class="alternado">002</td>
			<td>Micro</td>
			<td class="numero">R$ 1.800</td>
		</tr>

		<tr>
			<td>003</td>
			<td>TV</td>
			<td class="numero">R$ 2.200</td>
		</tr>

		<tr>
			<td class="alternado">004</td>
			<td>Celular</td>
			<td class="numero">R$ 2.500</td>
		</tr>

		<tr>
			<td>005</td>
			<td>Geladeira</td>
			<td class="numero">R$ 5.500</td>
		</tr>


    </table>
	
</body>

</html>